# Dependency directories
node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml

# Build artifacts
build
dist

# Git files
.git
.gitignore

# Docs & configs not needed in container
README.md
Dockerfile
.dockerignore